NET "ain" LOC = P51 | IOSTANDARD = LVTTL;
NET "bin" LOC = P41 | IOSTANDARD = LVTTL;
NET "cin" LOC = P35 | IOSTANDARD = LVTTL;
NET "sum" LOC = P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "cout" LOC = P30 | IOSTANDARD = LVTTL | PULLDOWN;